{%extends 'store/base.html'%}
{%block navbar%}{%endblock%}
{%block title%}password reset{%endblock%}
{%block content%}
<div class="container mt-5" >
    <div class="row d-flex justify-content-center">
        <div class="col-md-6 col-sm-8 col-lg-5 col-11 p-1">
             <script src="https://www.google.com/recaptcha/api.js" async defer></script>
             <form action="" method="POST" novalidate class="form-control shadow-lg p-sm-4 p-4 p-lg-5">
                 {% csrf_token%}
                 {% if form.non_field_errors%}
                     {% for error in form.non_field_errors%}
                         {{error}}
                     {% endfor%}
                 {% endif%}
                 <div class="row text-center">
                     <div class="col">
                          <h2 class="text-info">Enter your email address</h2>
                     </div>
                 </div>
                 {% for field in form%}
                 <div class="row mt-80">
                     <div class="col-12 p-1">
                         {{field.label_tag}} 
                     </div>
                     <div class="col-12 p-1">
                         {{field}}
                     </div>
                     <div class="col-12">
                         <span style="color:red">{{field.errors | striptags}}</span>
                         
                     </div>
                 </div>
                 {%endfor%}
                 
                 <div class="row justify-content-center" >
                    <div class="d-grid gap-2 col-8 mx-auto mt-3" >   
                        <button class="btn btn-primary" type="submit">Submit</button>
                    </div>
                 </div>
             </form>
         </div>
    </div>
</div>

    
{%endblock%}
{%block footer%}{%endblock%}