{%extends 'store/base.html'%}
{%block title%}password reset{%endblock%}
{% block navbar%}{% endblock navbar%}
{% block content%}

   <div class="container mt-5" >
       <div class="row justify-content-center">
           <div class="col-md-6 col-sm-8 col-10">
                <form action="" method="POST" novalidate class="form-control shadow-lg">
                    {% csrf_token%}
                    {% if form.non_field_errors%}
                        {% for error in form.non_field_errors%}
                            {{error}}
                        {% endfor%}
                    {% endif%}
                    <div class="row text-center">
                        <div class="col">
                             <h2>Password Change Form</h2>
                        </div>
                    </div>
                    {% for field in form%}
                    <div class="row mt-80">
                        <div class="col-12 p-1">
                            {{field.label_tag}} 
                        </div>
                        <div class="col-12 p-1">
                            {{field}}
                        </div>
                        <div class="col-12">
                            <span style="color:red">{{field.errors | striptags}}</span>
                            
                        </div>
                    </div>
                    {%endfor%}
                    <div class="row">
                        <div class="d-grid gap-2 col-6 mx-auto">
                            <button class="btn btn-primary" type="submit">Submit</button>
    
                        </div>
                    </div>
                    
                </form>
            
            </div>
       </div>
   </div>
    
   
{% endblock content%}
