{% extends 'store/base.html'%}
{%block title%}profile{%endblock title%}
{%block message%}
    {% if messages %}
        
            <div class="container">
                <ul class="messages">
                    {% for message in messages %}
                        <!-- <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li> -->
                        <!-- <div class="nav col-12 col-lg-auto me-lg-auto justify-content-center mb-md-0" {% if message.tags %} class="{{ message.tags }} alert alert-success text-center"{% endif %} class="" role="alert">
                            <h3 class="text-center">{{ message }}</h3>
                        </div> -->
                        <div class="alert alert-danger d-flex align-items-center" role="alert">
                            <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Danger:"><use xlink:href="#exclamation-triangle-fill"/></svg>
                            <div>
                                {{ message }}
                            </div>
                        </div>
                    {% endfor %}
                </ul>
            </div>
        

    {% endif %}
{%endblock%}
{%block content%}
    <!-- {{customers}} -->
    <div class="container p-md-5">
        <div class="row">
            <div class="col-md-8 col-12">
                <div class="row justify-content-between shadow p-3 mb-5" style="background-color: #edf2fb;">
                    <h1 class="text-info text-center">Addresses</h1>
                    <hr/>
                    {%for c in customers%}
                        <div class="col-sm-5 col-12 card shadow mb-3" style="background-color: #e0fbfc;">
                            <!-- <div class="card"> -->
                                <div class="row p-2">
                                    <div class="col-10 ">
                                        <div class="row d-flex justify-content-between">
                                            <div class="col-9">
                                                <h3 class="text-info">Address {{forloop.counter}}</h3>
                                            </div>
                                            <div class="col-2">
                                                <h5 class="text-info">
                                                    <!-- <form action="{%url 'account:profile_edit' c.cid%}" action='GET'>
                                                        <button role=""></button>

                                                    </form> -->
                                                     <a href="{%url 'account:profile_edit' c.cid%}" role="button"><i class=" offset-1 fas fa-user-edit"></i></a>
                                                </h5>
                                            </div>
                                        </div>
                                        <!-- <h3 class="text-primary">Address {{forloop.counter}}</h3> -->
                                        
                                        <!-- <p>{{c.customer.username}}</p> -->
                                        
                                        <p>Full Name: {{c.full_name}}</p>
                                        <p>Phone: {{c.phone_number}}</p>
                                        <p>Temp address: {{c.temporary_address}}</p>
                                        <p>Shipping address: {{c.shipping_address}}</p>
                                    </div>
                                </div>
                            <!-- </div> -->
                        </div>
                    {%endfor%}
                </div>
            </div>
            <div class="col-md-4 col-12">
                   
                <div class="container ">
                    <div class="row justify-content-center">
                        <div class="col-12">
                            <form action="{% url 'account:customer_reg'%}" style="background-color: #edf2fb;" method="POST" novalidate class="form-control shadow-lg p-sm-5">
                                {% csrf_token%}
                                {% if form.non_field_errors%}
                                {% for error in form.non_field_errors%}
                                <p class="alert alert-danger my-3 text-center">{{error}}</p>
                                {% endfor%}
                                {% endif%}
                                <div class="row text-center">
                                    <div class="col-12">
                                        <h2>Registration</h2>
                                    </div>
                                    <!-- <div class="col-12">
                                        <small class="text-danger">feel free to add address</small>

                                    </div> -->
                                </div>
                                {% for field in form%}
                                <div class="row mt-80">
                                    <div class="col-12 p-1">
                                        {{field.label_tag}}
                                    </div>
                                    <div class="col-12 p-1">
                                        {{field}}
                                    </div>
                                    <div class="col-12">
                                        <small class="text-danger">{{field.errors|striptags}}</small>

                                    </div>
                                </div>
                                {%endfor%}
                                <div class="row justify-content-center">

                                    <div class="d-grid gap-2 my-2 col-12 col-sm-8 mx-auto">
                                        <button class="btn btn-primary" type="submit">Register</button>
                                    </div>

                                </div>

                            </form>

                        </div>
                    </div>
                </div>  
            </div>
        </div>
    </div>
{%endblock content%}