{% extends 'store/base.html'%}
{% load static %} 
{%block title%}products{%endblock title%}
{% block content%}

<div class="d-flex justify-content-center text-primary" id="spin">
  <div class="spinner-border" role="status" >
    <span class="visually-hidden">Loading...</span>
  </div>
  <div style="height: 40rem;"></div>
</div>
<div class="container">
  <h1>{{catagory.name}}</h1>
</div>
{%if page_obj%}
<div class="container">
    <h3 class="my-4 border-bottom pb-1"><span class="text-muted">Search result for </span>{{request.GET.search}}</h3>
    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="col-md-2">
            <h3>Sort By:</h3>
          </div>
          <div class="col-md-3">
            <a href="?search={{request.GET.search}}&page={{page_obj.number}}&price=Low-to-High" role="button" class=" text-decoration-none">price--Low-to-High</a>
          </div>
          <div class="col-md-3">
            <a href="?search={{request.GET.search}}&page={{page_obj.number}}&price=High-to-Low" role="button" class=" text-decoration-none">price--High-to-Low</a>
          </div>
        </div>
      </div>
    </div>
    <div class="row justify-content-evenly">
      {% for product in page_obj%}
          <div class="card p-0 shadow-lg col-lg-2 col-md-2 col-sm-5 col-8-justify-content-center my-2 mt-2 mb-2" style="height: 350px; width:200px; background-color:white;">
            <div style="height: 200px;">
              <img src="{{product.show_img}}" class="img-fluid"  alt="" style='height: 100%; width: 100%; object-fit: contain'>
            </div>
            <hr/>
            <div class="row ">
              <div class="col-12">
                <div class="row justify-content-center">
                  <div class="col-12 text-center">
                    <a href="{%url 'store:product_detail' product.slug %}"><h3>{{product.title | slice:"20"}}...</h3></a>
                    <h3><small>Rs</small>{{product.discount_price | floatformat:"0"}}</h3>
                    
                  </div>
                </div>
              </div>
            </div>
          </div>         
      {%endfor%}
      <hr>
    </div>
    <nav aria-label="Page navigation example">
      <ul class="pagination justify-content-center">       
        {%if page_obj.has_previous%}
          <li class="page-item">
            <a class="page-link" href="?page={{page_obj.previous_page_number}}">Previous</a>
          </li>
          {%else%}
            <li class="page-item disabled">
              <a class="page-link" href="">Previous</a>
            </li>
        {%endif%}
        <li class="page-item active" aria-current="page">
          <span class="page-link"> {{ page_obj.number }}</span>
        </li>
        {%if page_obj.has_next%}
          <li class="page-item">
            <a class="page-link" href="?page={{page_obj.next_page_number}}">Next</a>
          </li>
          {%else%}
            <li class="page-item disabled">
              <a class="page-link" href="">Next</a>
            </li>
        {%endif%}
      </ul>
    </nav>
</div>
{%endif%}
<script src="{%static 'js/catagory.js'%}"></script>
  
{% endblock content%}