{% extends 'store/base.html'%}
{% load static%}
{%block title%}product detail{%endblock title%}
{%block carousel%}{%endblock%}

{%block content%}
    <div class="d-flex justify-content-center text-primary" id="spin">
        <div class="spinner-border" role="status">
        <span class="visually-hidden">Loading...</span>
        </div>
    </div>
    <div class="container mt-2" id="one">
        <div class="row justify-content-center">
            <div class="col-md-6" >
                
                    <div class="col-12">
                        <div style="height: 300px;">
                    
                            <img src="{{prod.show_img}}" class="figure-img  rounded" alt="..." style="height: 100%; width: 100%; object-fit: contain" id='main_img'>
                               
                              
                        </div>
                          <div class="col-12 card">
                              
                            {%if prod.id in cart_keys%}
                              
                               <a href="{% url 'cart:cartDetail'%}" role="button" onclick="goToCart('{{p.product.id}}')" class="btn btn-warning">Go To Cart</a>
                                {%else%}
                                    
                                    <button class="btn btn-primary" data-pid="{{p.product.id}}" id="add_to_cart" onclick="addToCart(this,'{{prod.id}}','{{prod.discount_price}}','{{prod.title}}')">Add To Cart</button>
        
                            {%endif%}
                        </div>
                    </div>
                    
            </div>

            <div class="col-md-6">
                <div class="row">
                    <div class="col-12">
                        <h2 class="text-dark">{{prod.title}}</h2>
                        {{prod.description | safe}}

                    </div>
                    <hr/>
                    <div class="col-12" id="check-val">
                        <div id="error_msg"> </div>
                    <form class="was-validated" id="form" novalidate>
                        {%for option in prod.productvariationsoptions_set.all%}
                            <h4 class="d-inline p-3">
                                {{option.name | title}}: 
                            </h4>
                            <h4 class="d-inline p-3">
                                {%for v in option.productvariationvalue_set.all%}
                                {%if option.name|title == 'Color'%}
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="{{option.name | title}}" id="{{v.product_variation_value | title}}" value="{{v.product_variation_value | title}}" required>
                                        <label class="form-check-label" for="{{v.product_variation_value | title}}">
                                            {{v.product_variation_value | title}}
                                            {%for img in prod.product_image.all%}
                                                {%if img.color == v.product_variation_value|title%}
                                                    <figure class="figure">
                                                        <img src="{{img.image.url}}" onclick="showImg(this)" class="figure-img img-fluid rounded d-inline" alt="..." style="height:40px; width:100%; object-fit:cover">
                                                        <figcaption class="figure-caption text-end"></figcaption>
                                                    </figure>

                                                {%endif%}
                                                     
                                            {%endfor%}
                                            
                                        </label>
                                        <div class="invalid-feedback"></div>
                                    </div>

                                {%else%}
                                    <div class="form-check form-check-inline was-valitated">
    
                                        <input class="form-check-input" type="radio" name="{{option.name | title}}" id="{{v.product_variation_value | title}}" value="{{v.product_variation_value | title}}" required>
                                        <label class="form-check-label" for="{{v.product_variation_value | title}}">{{v.product_variation_value | title}}</label>
                                        <div class="invalid-feedback"></div>
                                    </div>

                                {%endif%}
                                
                                 {%endfor%}
                                
                              
                            </h4>
                            <hr/>
                            <br/>
                        {%endfor%}
                       
                    </form>
                    </div>
                    
                </div>

            </div>
        </div>
        
    </div>
    <div class="container" id="two">
        
        <div class="row  justify-content-center mt-5">
            <div class="col-12">
                <h1 class="text-info text-center"> Image gallery </h1>
            </div>
            <div class="col-8">
               
                <div class="owl-carousel owl-theme" >
                    {% for img in prod.product_image.all%}
                        <div class="item"><img src="{{img.image.url}}" style='height: 350px; width: 100%; object-fit: contain'  class="figure-img img-fluid rounded" alt="..."></div>
                    {%endfor%}
                </div>
            </div>
           
        </div>
        
    </div>

    {%block owl_carousel%}
   
  
    {%endblock%}
    

    
    <script>
        let i = 0;
        function getCookie(name) {
            let cookieValue = null;
            if (document.cookie && document.cookie !== "") {
              const cookies = document.cookie.split(";");
              for (let i = 0; i < cookies.length; i++) {
                const cookie = cookies[i].trim();

                if (cookie.substring(0, name.length + 1) === name + "=") {
                  cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                  break;
                }
              }
            }
            return cookieValue;
          }
    
          const csrftoken = getCookie("csrftoken");
          function addToCart(obj, id, price, title) {
           
            function jQFormSerializeArrToJson(formSerializeArr){
                var jsonObj = {};
                jQuery.map( formSerializeArr, function( n, i ) {
                    jsonObj[n.name] = n.value;
                });
               
                return jsonObj;
               }
                obj = $("#form").serializeArray()
                
                let extra_info = jQFormSerializeArrToJson($("#form").serializeArray())

            if(obj.length == '{{length}}'){
              $.ajax({
                method: 'post',
                url: "{% url 'cart:addToCart'%}",
                cache:false,
                data: {
                  id: id, title: title, price: price, quantity: 1,extra_info:JSON.stringify(extra_info),
                  csrfmiddlewaretoken: csrftoken
                },
                success: (response) => {
                  obj = $('#add_to_cart').html('Go To Cart')
                  obj.attr('class', 'btn btn-warning p-1')
                  obj.attr('onclick', `goToCart(${id})`)

                  $('#cart-quan').html(response.length)
            
                }
              });
          
            }
            else{
               
                $('html, body').animate({ scrollTop: $('#check-val').offset().top}, 100);
               if (i == 0){
                element = document.createElement('div')
                str = document.createElement('strong')

                str.innerText = 'please select the variation you want.'
                element.appendChild(str)
                document.getElementById("error_msg").appendChild(element) 
                element.className = 'alert alert-danger'
                i++;
               }
              
            }
           
          
          }
          function goToCart(id) {

            window.location.href = "{% url 'cart:cartDetail'%}"
          }
          
          $("#one").attr('class','d-none container mt-2');
          
          
          $(window).on("load", function () {
            
            $("#spin").remove();
            $("#one").attr('class','container mt-2');
            
              $('.owl-carousel').owlCarousel({
                  loop:true,
                  margin:10,
                  nav:true,
                  dots:true,
                  autoHeight:true,
                  autoplay: true,
                  autoplayTimeout: 3000,
                  responsive:{
                      0:{
                          items:1
                      },
                      600:{
                          items:1
                      },
                      1000:{
                          items:1
                      }
                  }
              })
          });
    
        function imgClicked(){

            function jQFormSerializeArrToJson(formSerializeArr){
                var jsonObj = {};
                jQuery.map( formSerializeArr, function( n, i ) {
                    jsonObj[n.name] = n.value;
                });
               
                return jsonObj;
               }
            alert('hello')
            let x = jQFormSerializeArrToJson($("#form").serializeArray())
            
        }

        function showImg(obj){

            $('#main_img').attr('src',obj.src)
        }
    </script>
    <script>
        $('#myButton').click(function() {
          
            window.scrollTo(500, 2000);
         });
    </script>
{%endblock content%}